@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --vermelho: #8E2424;
    --bg: #ffffff;
    --letras: #667085;
    --titulo: #101828;
    --logo: #3A404E;
    --quad: #C3191908;
    --bgfoot: #F9FAFB;
    --border: #EAECF0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 80px 18px 80px;
    font-weight: 500;
    font-size: 16px;
    gap: 118px;
}

.logo {
    display: flex;
    margin-left: 112px;
    align-items: center;
    gap: 8px;
}

#imagelogo {
    width: 27px;
    height: 26.99px;
}

#logoname {
    width: 113px;
    font-size: 18px;
    color: var(--logo);
    line-height: 24px;
}

.navb {
    display: flex;
    gap: 32px;
    width: 1262px;
}

.navbtn {
    color: var(--letras);
}

.blank {
    width: 142px;
    height: 32px;
}

.login {
    display: flex;
    gap: 12px;
    margin-right: 112px;
    align-items: center;
}

#loginbtn {
    width: 83px;
    color: var(--letras);
}

#loginbtn2 {
    width: 112px;
    border-radius: 8px;
    background-color: var(--vermelho);
    color: var(--bg);
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tsobre {
    color: var(--vermelho);
    width: 78px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 96px 681px 0px 681px;
}

#tprincipal {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    width: 652px;
    height: 60px;
    margin: 24px 394px 0px 450px;
    color: var(--titulo);
}

#ttexto {
    width: 791px;
    height: 60px;
    color: var(--letras);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 36px 325px 107px 325px;
}

.estatisticas {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0px 112px 96px 112px;
    justify-content: center;
}

.etitulo {
    width: 280px;
    height: 72px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--vermelho);
}

.esubtitulo {
    width: 280px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--titulo);
}

.etexto {
    width: 280px;
    height: 72px;
    font-weight: 400;
    color: var(--letras);
    font-size: 16px;
    line-height: 24px;
}

#anunV {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vermelho);
    width: 125px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 96px 681px 16px 681px;
    background-color: #8E24240D;
    border-radius: 16px;
}

.anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.talentos {
    font-size: 36px;
    margin-bottom: 20px;
}

.equipe {
    font-size: 20px;
    font-weight: 400;
    color: var(--letras);
    margin-bottom: 64px;
}

.vagas {
    margin-top: 84px;
    width: 1280px;
    height: 940px;
    margin: 0px 80px 0px 80px;
}

.titulod {
    margin-left: 336px;
    margin-right: 336px;
    width: 768px;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--titulo);
    margin-bottom: 32px;
    margin-top: 64px;
}

.vagasd {
    width: 768px;
    height: 136px;
    border-radius: 16px;
    border: 1px solid var(--border);
    margin: 0px 336px 24px 336px;
}

.vagat {
    margin: 24px 24px 32px 24px;
    width: 720px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--titulo);
}

.vagai {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0px 24px 28px 24px;
    width: 720px;
    height: 24px;
    color: var(--letras);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.dev {
    width: 1216px;
    height: 404;
    border-radius: 16px;
    padding: 64px;
    gap: 32px;
    background-color: var(--quad);
    margin: 96px 112px 96px 112px;
}

#deva {
    width: 1088px;
    height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--vermelho);
    margin-bottom: 16px;
    margin: 0px 64px 16px 64px;
}

#devt {
    width: 1088px;
    height: 88px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--titulo);
    margin-bottom: 32px;
    margin: 0px 64px 32px 64px;
}

.devii {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 30px;
}

.devi {
    width: 56px;
    height: 56px;
    border-radius: 200px;
    margin: 0px 580px 16px 440px;
}

#devn {
    width: 1088px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--titulo);
    margin: 0px 64px 0px 40px;
}

#devv {
    width: 1088px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--letras);
    margin: 0px 64px 0px 64px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 430px;
    background-color: var(--bgfoot);
}

.newsi {
    width: 832px;
    height: 182px;
    margin: 96px 336px 152px 336px;
}

.newst {
    width: 768px;
    height: 44px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--titulo);
    margin: 96px 32px 0px 32px;
}

.newsv {
    width: 768px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--letras);
    margin: 20px 32px 40px 32px;
}

.newsec {
    width: 492px;
    height: 48px;
    gap: 16px;
    margin: 0px 170px 0px 170px;
    display: flex;
    flex-direction: row;
}

#newse {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

::placeholder {
    padding: 12px;
    font-size: 16px;
}

#newsc {
    width: 116px;
    border-radius: 8px;
    background-color: var(--vermelho);
    color: var(--bg);
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direitos {
    width: 393px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
    margin: 32px 219.5px 96px 219.5px;
}